# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
env.bak/
venv.bak/

# Environment variables (keep secrets safe)
.env
.env.*

# Logs
*.log

# IDE/editor files
.vscode/


# OS-specific
.DS_Store
Thumbs.db

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
